/* 
 * Ads Blocker Detector CSS file
 * 
 * Author: PhDr. Matej Lednár, PhD.
 * Website: work.mldgroup.com
 * GitHub: https://github.com/matejlednar/adsblockerdetector
 * Libraries required: jQuery
 */

.ads-blocker-detector {
    height: 100%;
    width : 100%;    
}

html.ads-blocker-detector {
    overflow: hidden;
}

body.ads-blocker-detector {
    position : relative;
}

div.ads-blocker-detector {
    position : absolute;
    top : 0;
    left : 0;        
}

div.ads-blocker-detector table {
    text-align: center;
}

div.ads-blocker-detector table td {
    vertical-align: middle;
}